<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Detection</title>
    <link rel="stylesheet" href="C:\Users\user\Desktop\ai project\static\style.css"> <!-- Link to your external CSS file -->
</head>
<body>

<!-- Navigation Bar -->
<div class="navbar">
    <div class="logo">
        <img src="C:/Users/user/PycharmProjects/pythonProject/image/logo.jpg" alt="Company Logo">
    </div>
    <div class="navbar-links">
        <a href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">About</button>
            <div class="dropdown-content">
                <a href="/dataset">Dataset</a>
                <a href="/us">Project</a>
            </div>
        </div>
        <a href="/analysis"> Analysis</a>
        <a href="https://www.kaggle.com/datasets/msambare/fer2013" target="_blank">Dataset</a>
    </div>
</div>

<!-- Content -->
<div class="content">
    <h1>Emotion Detection</h1>
    <p>Using machine learning techniques such as face recognition, information obtained from facial expressions can be processed to infer their emotional state. Affective computing, which recognizes user emotional states, proposes to enrich the form of user-machine interaction The project is made by SY CS(AIML) students from Vishwakarma Institute of Technology Pune</p>
</div>

<!-- Buttons -->
<div class="buttons">
    <button onclick="window.location.href='hii.html'">Live Camera</button>
    <button onclick="window.location.href='/upload_image'">Upload Image</button>
</div>
</body>
</html>
